body{
    font-size: 18px;
    background-color: #e4a56bde;
}

.title {
    font-size: 48px;
    text-align: center;
}

.link {
    font-size: 20px;
}

.title-des {
    font-size: 30px;
    text-align: center;
}

.des{
    text-align: center;
    font-size: 18px;
}

.ing-steps{
    font-size: 30px;
    
}

.img-recipe{
    display: block;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    height: 205px;
    margin-bottom: 20px;
}

.flex-container img {
    flex: initial;
    margin: auto;
}

.flex-container a {
    flex: 1;
    display: block;
    text-align: center;
}

